.list-group-item {
    display: flex;
    --bs-list-group-bg: var(--bs-surface);
    --bs-list-group-action-hover-bg: var(--bs-surface-var);
    padding: 12px;
    border-radius: 12px;
    border: none;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.profile-row {
    display: flex;
    align-items: center;
    gap: 16px;
}

.profile-row:last-child {
    border-bottom: none;
}

.profile-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2px;
}

.profile-rol {
    color: var(--bs-primary);
    min-width: 100px;
    text-align: right;
}

.profile-badge-warpper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 92px;
}