<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
        <div class="container-xxl d-flex align-items-center px-0 py-0">
            <!-- Logo -->
            <a class="navbar-brand d-flex align-items-center" href="#">
                <div class="brand-icon">
                    <img src="images/logo.svg" alt="a•tiempo" class="brand-logo" />
                </div>
            </a>
            <!-- Mobile button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="mainNavbar">
                <!-- Menu -->
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Explorar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Vender</a>
                    </li>
                </ul>

                @if (!currentUser()) {
                <!-- Not logged -->
                <div class="d-flex gap-3 align-items-center">
                    <app-button [text]="'Crear cuenta'" [class]="'btn-light'" [showIconLeft]="true"
                        [iconLeft]="'bi bi-person-circle'">
                    </app-button>
                    <a routerLink="/login">
                        <app-button [text]="'Iniciar sesión'" [class]="'btn-primary'" [showIconLeft]="true"
                            [iconLeft]="'bi bi-box-arrow-in-right'">
                        </app-button>
                    </a>
                </div>
                } @else {
                <!-- Logged -->
                <div class="d-flex gap-3 align-items-center">
                    <app-button [class]="'btn-light'" [showIconLeft]="true" [iconLeft]="'bi bi-heart'"></app-button>
                    <a routerLink="/chats">
                        <app-button [class]="'btn-light'" [showIconLeft]="true" [iconLeft]="'bi bi-envelope'"></app-button>
                    </a>
                    <app-button [class]="'btn-light'" [showIconLeft]="true" [iconLeft]="'bi bi-bell'"></app-button>
                    @if (currentUser(); as user) {
                    <a [routerLink]="['/profile', user.id]" class="navbar-avatar-link">
                    <app-avatar [name]="user.name" [surname]="user.surname" [photoUrl]="user.photo_url"></app-avatar>
                    </a>
                    <app-button [text]="'Cerrar sesión'" [class]="'btn-outline-primary'" [showIconLeft]="true" [iconLeft]="'bi bi-box-arrow-right'"
                        (click)="onLogout()"></app-button>
                    }
                </div>
                }
            </div>
        </div>
    </div>
</nav>
