.article-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.article-list-count {
    margin: 0;
    color: var(--bs-primary);
}

.article-list-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
