<app-navbar></app-navbar>
<section class="hero-section position-relative d-flex align-items-start justify-content-start">
    <div class="container d-flex flex-column align-items-start text-center w-100 mx-auto" style=" max-width: 700px;">
        <h1 class="text-white"> Estás a tiempo de encontrar tu reloj ideal</h1>

        <p class="text-white"> Encuentra el reloj que encaja contigo entre una selección cuidada de piezas únicas.
            Compra con confianza, sin complicaciones</p>

        <div class="search input-group bg-white position-relative mx-auto">

            <input type="text" class="form-control border-0" placeholder="Buscar marca, modelo o estilo...">

            <button class="btn btn-light border-0 d-flex align-items-center justify-content-center gap-2">
                <i class="bi bi-search"></i>Buscar
            </button>
        </div>
    </div>
</section>

<section class="new-arrivals mx-auto my-5 px-4" style="max-width: 1300px;">
    <div class="container">

        <div class="section-header w-100 mb-4">
            <div class="row align-items-center g-2">
                <div class="col col-md-auto">
                    <h3 class="m-0">Novedades</h3>
                </div>
                <div class="col-auto ms-auto text-end">
                    <a href="#" class="view-all-link fw-semibold text-nowrap"> Ver todo <i
                            class="bi bi-arrow-right-short"></i>
                    </a>
                </div>

                <div class="col-12">
                    <p class="text mt-1 fs-6 mb-0 mobile">Nuevas piezas disponibles cada día para coleccionistas y
                        aficionados.
                    </p>
                </div>
            </div>
        </div>


        <div class="grid-watch">
            <div class="card-watch">
                <div class="img-container position-relative p-3 d-flex- justify-content-center bg-light">
                    <img src="images/hero-watch.webp" class="img-fluid" alt="">

                    <span
                        class="brand-badge label-small position-absolute bottom-0 start-0 ms-3 mb-3 text-white py-2 px-2 rounded-2 d-inline-flex align-items-center gap-1"><i
                            class="bi bi-patch-check"></i>Marca</span>

                    <button
                        class="favorite-btn position-absolute top-0 end-0 mt-3 me-3 bg-white border-0 rounded-3 d-flex justify-content-center align-items-center">
                        <i class="bi bi-heart"></i>
                    </button>

                </div>

                <div class="info d-flex flex-column gap-3 p-3">
                    <h5>Title</h5>
                    <p class="description">Lorem ipsum dolor sit amet consectetur. Erat mauris ut sed ut eget. Lectus
                        interdum urna quam pretium
                        mattis posuere sed volutpat id.</p>
                    <div class="specs d-flex align-items-center gap-2">
                        <span>2021</span>
                        <span>•</span>
                        <span>Excelente</span>
                        <span>•</span>
                        <span>41mm</span>
                    </div>
                    <div class="location d-inline-flex align-items-center gap-1 bg-body-secondary px-2 py-1 rounded-2">
                        <i class="bi bi-geo-alt"></i>
                        <span>Madrid, Spain</span>
                    </div>
                    <strong class="text-primary fs-2">€12.500</strong>
                </div>
            </div>

            <div class="card-watch">
                <div class="img-container position-relative p-3 d-flex- justify-content-center bg-light">
                    <img src="images/hero-watch.webp" class="img-fluid" alt="">

                    <span
                        class="brand-badge label-small position-absolute bottom-0 start-0  ms-3 mb-3 text-white py-2 px-2 rounded-2 d-inline-flex align-items-center gap-1"><i
                            class="bi bi-patch-check"></i>Marca</span>

                    <button
                        class="favorite-btn position-absolute top-0 end-0 mt-3 me-3 bg-white border-0 rounded-3 d-flex justify-content-center align-items-center">
                        <i class="bi bi-heart"></i>
                    </button>

                </div>

                <div class="info d-flex flex-column gap-3 p-3">
                    <h5>Title</h5>
                    <p class="description">Lorem ipsum dolor sit amet consectetur. Erat mauris ut sed ut eget. Lectus
                        interdum urna quam pretium
                        mattis posuere sed volutpat id.</p>
                    <div class="specs d-flex align-items-center gap-2">
                        <span>2021</span>
                        <span>•</span>
                        <span>Excelente</span>
                        <span>•</span>
                        <span>41mm</span>
                    </div>
                    <div class="location d-inline-flex align-items-center gap-1 bg-body-secondary px-2 py-1 rounded-2">
                        <i class="bi bi-geo-alt"></i>
                        <span>Madrid, Spain</span>
                    </div>
                    <strong class="text-primary fs-2">€12.500</strong>
                </div>
            </div>

            <div class="card-watch">
                <div class="img-container position-relative p-3 d-flex- justify-content-center bg-light">
                    <img src="images/hero-watch.webp" class="img-fluid" alt="">

                    <span
                        class="brand-badge label-small position-absolute bottom-0 start-0  ms-3 mb-3 text-white py-2 px-2 rounded-2 d-inline-flex align-items-center gap-1"><i
                            class="bi bi-patch-check"></i>Marca</span>

                    <button
                        class="favorite-btn position-absolute top-0 end-0 mt-3 me-3 bg-white border-0 rounded-3 d-flex justify-content-center align-items-center">
                        <i class="bi bi-heart"></i>
                    </button>

                </div>

                <div class="info d-flex flex-column gap-3 p-3">
                    <h5>Title</h5>
                    <p class="description">Lorem ipsum dolor sit amet consectetur. Erat mauris ut sed ut eget. Lectus
                        interdum urna quam pretium
                        mattis posuere sed volutpat id.</p>
                    <div class="specs d-flex align-items-center gap-2">
                        <span>2021</span>
                        <span>•</span>
                        <span>Excelente</span>
                        <span>•</span>
                        <span>41mm</span>
                    </div>
                    <div class="location d-inline-flex align-items-center gap-1 bg-body-secondary px-2 py-1 rounded-2">
                        <i class="bi bi-geo-alt"></i>
                        <span>Madrid, Spain</span>
                    </div>
                    <strong class="text-primary fs-2">€12.500</strong>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="popular-brands mx-auto my-5 px-4" style="max-width: 1300px;">
    <div class="container">

        <div class="section-header w-100 mb-2">
            <div class="d-flex justify-content-between align-items-center w-100">
                <h3 class="m-0">Marcas populares</h3>
                <a href="#" class="view-all-link fw-semibold text-nowrap">
                    Ver todo <i class="bi bi-arrow-right-short"></i>
                </a>
            </div>
            <p class="text mt-3 fs-6 mb-0 text-muted">
                Explora nuestra selección de marcas de relojes más populares, reconocidas por su calidad, diseño
                y precisión.
            </p>
        </div>

        <div class="row g-4 justify-content-center align-items-center mt-3">

            <div class="col-12 col-sm-4 col-md d-flex justify-content-center">
                <div class="brand-card bg-white border rounded-4 d-flex justify-content-center align-items-center p-1">
                    <img src="images/hero-watch.webp" class="img-fluid brand-img" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md d-flex justify-content-center">
                <div class="brand-card bg-white border rounded-4 d-flex justify-content-center align-items-center p-3">
                    <img src="images/hero-watch.webp" class="img-fluid brand-img" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md d-flex justify-content-center">
                <div class="brand-card bg-white border rounded-4 d-flex justify-content-center align-items-center p-3">
                    <img src="images/hero-watch.webp" class="img-fluid brand-img" alt="">
                </div>
            </div>

            <div class="col-12 col-sm-4 col-md d-flex justify-content-center">
                <div class="brand-card bg-white border rounded-4 d-flex justify-content-center align-items-center p-3">
                    <img src="images/hero-watch.webp" class="img-fluid brand-img" alt="">
                </div>
            </div>

            <div class="col-12 col-sm-4 col-md d-flex justify-content-center">
                <div class="brand-card bg-white border rounded-4 d-flex justify-content-center align-items-center p-3">
                    <img src="images/hero-watch.webp" class="img-fluid brand-img" alt="">
                </div>
            </div>

            <div class="col-12 col-sm-4 col-md d-flex justify-content-center">
                <div class="brand-card bg-white border rounded-4 d-flex justify-content-center align-items-center p-3">
                    <img src="images/hero-watch.webp" class="img-fluid brand-img" alt="">
                </div>
            </div>
        </div>

    </div>
</section>
<section>

</section>
<section>

</section>