@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    /*Fonts*/
    --bs-body-font-family: 'Inter', sans-serif;
    --font-headings: 'Baloo 2', sans-serif;

    /*Colors*/
    --bs-primary: hsla(226, 80%, 56%, 1);
    --bs-primary-hover: hsla(226, 70%, 45%, 1);
    --bs-primary-active: hsla(226, 70%, 34%, 1);
    --bs-primary-bg-subtle: hsla(226, 71%, 92%, 1);
    --bs-primary-bg-subtle-hover: hsla(226, 71%, 85%, 1);
    --bs-primary-border-subtle: hsla(226, 71%, 92%, 1);
    --bs-primary-border-subtle-hover: hsla(226, 71%, 85%, 1);
    --bs-primary-text-emphasis: hsla(226, 70%, 12%, 1);

    --bs-secondary: hsla(174, 65%, 38%, 1);
    --bs-secondary-hover: hsla(174, 65%, 28%, 1);
    --bs-secondary-active: hsla(174, 65%, 20%, 1);
    --bs-secondary-bg-subtle: hsla(174, 64%, 88%, 1);
    --bs-secondary-border-subtle: hsla(174, 64%, 88%, 1);
    --bs-secondary-text-emphasis: hsla(175, 64%, 12%, 1);

    --bs-light: hsla(0, 0%, 92%, 1);
    --bs-light-rgb: 235,235,235;
    --bs-light-hover: hsla(0, 0%, 85%, 1);
    --bs-light-active: hsla(0, 0%, 30%, 1);
    --bs-light-text-emphasis: hsla(0, 0%, 12%, 1);

    --bs-surface: hsla(0, 0%, 100%, 1);
    --bs-surface-var: hsla(0, 0%, 97%, 1);
}

/*Reset*/
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--bs-body-font-family);
    min-height: 100vh;
    h1, h2, h3, h4, h5, p{
        margin: 0;
    }
}

app-root {
    display: block;
    min-height: 100vh;
}

/*Text styles*/
h1, h2, h3, h4 {
    font-family: var(--font-headings);
}

h5 {
    font-family: var(--bs-body-font-family);
}

/* Headings */
h1 {
    font-size: 60px;
    line-height: 68px;
    font-weight: 800;
}

h2 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 800;
}

h3 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 800;
}

h4 {
    font-size: 28px;
    line-height: 40px;
    font-weight: 700;
}

h5 {
    font-size: 20px;
    line-height: normal;
    font-weight: 600;
}

/* Label */
.label-large {
    font-size: 16px;
    line-height: normal;
    font-weight: 600;
}

.label-medium {
    font-size: 14px;
    line-height: normal;
    font-weight: 600;
}

.label-small {
    font-size: 12px;
    line-height: normal;
    font-weight: 600;
}

/* Body */
.body-large {
    font-size: 18px;
    line-height: normal;
    font-weight: 400;
}

.body-medium {
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
}

.body-small {
    font-size: 14px;
    line-height: normal;
    font-weight: 400;
}


/*Components*/

/*===Button===*/
.btn {
    --bs-btn-border-radius: 10px;
    --bs-btn-font-size: 16px;
    --bs-btn-font-weight: 500;
    --bs-btn-padding-x: 10px;
    --bs-btn-padding-y: 8px;

    /* =========================================
        ICON BUTTON
       ========================================= */
    &:not(:has(span)) {
        --bs-btn-padding-x: 8px;
        --bs-btn-padding-y: 8px;
        width: 42px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* =========================================
    BUTTON PRIMARY (filled)
   ========================================= */
.btn-primary {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-color: var(--bs-surface);

    --bs-btn-hover-bg: var(--bs-primary-hover);
    --bs-btn-hover-border-color: var(--bs-primary-hover);
    --bs-btn-hover-color: var(--bs-surface);

    --bs-btn-active-bg: var(--bs-primary-active);
    --bs-btn-active-border-color: var(--bs-primary-active);
    --bs-btn-active-color: var(--bs-surface);

    --bs-btn-disabled-bg: var(--bs-primary);
    --bs-btn-disabled-border-color: var(--bs-primary);

    --bs-btn-focus-shadow-rgb: 67, 110, 220;
    /* ajusta al RGB real de tu primary si quieres precisión */
}

/* =========================================
    BUTTON PRIMARY OUTLINE
   ========================================= */
.btn-outline-primary {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);

    --bs-btn-hover-bg: var(--bs-primary-bg-subtle);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-hover-color: var(--bs-primary);

    --bs-btn-active-bg: var(--bs-primary-active);
    --bs-btn-active-border-color: var(--bs-primary-active);
    --bs-btn-active-color: var(--bs-surface);

    --bs-btn-disabled-color: var(--bs-primary);
    --bs-btn-disabled-border-color: var(--bs-primary);
}

/* =========================================
    BUTTON LIGHT
   ========================================= */
.btn-light {
    --bs-btn-bg: var(--bs-primary-bg-subtle);
    --bs-btn-border-color: var(--bs-primary-bg-subtle);
    --bs-btn-color: var(--bs-primary-text-emphasis);

    --bs-btn-hover-bg: var(--bs-primary-bg-subtle-hover);
    --bs-btn-hover-border-color: var(--bs-primary-bg-subtle-hover);
    --bs-btn-hover-color: var(--bs-primary-text-emphasis);

    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-active-color: var(--bs-surface);

    --bs-btn-disabled-bg: var(--bs-light);
    --bs-btn-disabled-border-color: var(--bs-light);
}

/* =========================================
    BUTTON LINK
   ========================================= */
.btn-link {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-border-color: transparent;

    --bs-btn-hover-color: var(--bs-primary-hover);
    --bs-btn-hover-bg: var(--bs-primary-bg-subtle);
    --bs-btn-hover-border-color: var(--bs-primary-border-subtle);

    --bs-btn-active-color: var(--bs-surface);
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary); 
}

/*===Section===*/
.section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    padding: 24px;
    border-radius: 24px;
    background-color: var(--bs-surface);
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}